name: Build Addon
on:
  push:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Google Java Format
        uses: axel-op/googlejavaformat-action@v3.6.0
